.polygon-modal {
  width: 100%;
  /*height: -moz-fit-content;*/
  /*height: fit-content;*/
  -webkit-clip-path: polygon(0px 30px, 30px 0px, 100% 0px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0px 100%, 0px 36px);
  clip-path: polygon(0px 30px, 30px 0px, 100% 0px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0px 100%, 0px 36px);
  display: inline-block;
  position: relative;
  background: #857d7d;
}

.polygon-modal-child {
  background: #12151B;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(31px 1px, 1px 1px, 99.75% 1px, 99.5% calc(99.5% - 29px), calc(99.5% - 29px) 99.75%, 1px 99.75%, 1px 31px);
  clip-path: polygon(31px 1px, 1px 1px, 99.75% 1px, 99.5% calc(99.5% - 29px), calc(99.5% - 29px) 99.75%, 1px 99.75%, 1px 31px);
  display: inline-block;
  position: relative;
}

.polygon-modal >.top {
  top: -20px;
  position: absolute;
}
