@font-face {
  font-family: 'SVN-GilroyMedium';
  src: url('./assets/fonts/SVN-Gilroy-Medium.otf');
  font-style: normal;
}

@import "generated";

div.a8-connect-container {
  @include tailwind;

  font-family: 'SVN-GilroyMedium'!important;
  line-height: 1.5!important;
}
